// ======================================
//  Mixins
// ======================================

// Colors
@mixin btn-color($map) {
    @each $theme, $color in $map {
      &--#{$theme} {
        background-color: $color;
      }
    } 
}

// Create a flex container
@mixin flexy(
  $disp: flex,
  $dir: null,
  $wrap: null,
  $just: null,
  $ali:null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  align-items: $ali;
}

//Rounded elements
@mixin roundy($dim, $brdr:null) {
    width: $dim;
    height: $dim;
    border: $brdr;
    border-radius: 50%;
}

//Layout
@mixin layout {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

//Style buttons and grids
@mixin style-box {
    padding: 15px 10px;
    border: none;
    border-radius: 4px;
    resize: none; /* Text area only */
}

//Background buttons and grids
@mixin btn-color($map) {
    @each $theme, $color in $map {
        &--#{$theme} {
            background-color: $color;
            @include style-box;
        }
    } 
}
