.btn {
    @include btn-color($color-button){
        @extend %style-box;
        @extend %layout;
        margin: 15px auto;
        color: $white;
        text-transform: uppercase;
        font-weight: bold;
    };
}

button {
    display: block;
}
