
.grid__row{
    margin-top: 25px;
    width: 100%;
    @include flexy(
        $dir: column
    );
    .grid__col {
        @include btn-color($color-grid){
            @extend %style-box;
            max-width: 100%;
            margin:3px 0;
        };
    }
}