// ======================================
//  Images
// ======================================


 .img {  
    &--avatar{
        @include roundy(12rem);
        margin-top: 1rem;
    }
    &--frame{
        @include flexy($disp:flex, $dir:column, $wrap:wrap, $just:center);
        height: auto;
        width: 100%;
        margin: 0;
        padding: 1rem;
        border: 2px solid black;

    }
 }
