// ======================================
//  Images
// ======================================

//Center logo
.grid__row > .grid__col--3 {
    margin:0 auto;
}


.img {
    &--logo {
        margin-top:50px;
        @include breakpoint(768px){
            margin:0;
        }
    
    }  
    &--avatar{
        @include roundy(12rem);
        display: block;
        margin: 1rem auto;
        padding: 1rem;
    }
    &--frame{
        display: block;
        height: auto;
        width: 80%;
        height: 12rem;
        margin: 1rem auto;
        padding: 1rem;
        border: 1px solid black;

    }
 }